<h1>Stupid Coaching</h1>
<form action="/answer" data-turbo="false">
  <input type="text" name="question" value="<%=params[:question]%>" placeholder="Ask your coach anything!">
  <input class="button" type="submit">
</form>
